.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #715C8C;
    overflow: hidden;
}

span{
    color: #D7D4DD;
    font-size: 20px;
    font-weight: 10px;
}

div{
    text-align: center;
}