<!-- <h1>Welcome!</h1>
<div class="container">
welcome back {{name}}!
Welcome to our website. You can mange your todos</div><br>
<div>
 <button class="btn btn-success" routerLink="/todos"> click here to go to Todos list</button>
</div> -->


<!-- <div class="container">
    Click here to get a customized welcome message 
    <button class="btn btn-success" (click)="getWelcomeMessageWithParameter()">Get Welcome meessage</button>
    </div> -->


    <!-- <div class="container" *ngIf="WelcomeMessageFromService">
        <h2>Your customized welcome message </h2>
        {{WelcomeMessageFromService}}
        </div> -->



        <div class="container">
            <h2 class="title">
              <span class="title-word title-word-1">Welcome</span><br>
              <span class="title-word title-word-2">to</span><br>
              <span class="title-word title-word-3">Todos</span><br>
              <span class="title-word title-word-4">Website</span><br>
            </h2>
          </div>